g #draw{
  fill-opacity:0;
  stroke:#6C63FF;
  stroke-width:2
stroke-dashoffset:0;
stroke-dasharray:1000;
animation: drawLine 2s infinite  forwards ease-in-out;
}
@keyframes drawLine {
  0%{
    stroke-dashoffset:1000;
    stroke-width:3
  }
  100%{
    stroke-dashoffset:500;
    stroke-width:3
  }
}
